<div class="main">
  <div class= "top-image">
    <img src= "/top.jpg" alt="TOP画像" width="100%">
  </div>
  
  <div class= "flex-box">
    <div class="flex-item">
        正社員採用
    </div>
    <div class="flex-item">
        非常勤採用
    </div>
    <div class="flex-item">
        職場体験
    </div>
  </div>

  <div calss="about-us">
  <h1>ABOUT US</h1>
  </div>
</div>
    
    
