<h1>スタッフスケジュール管理画面</h1>
<p>Find me in app/views/staff_schedules/index.html.erb</p>




<!--https://jp.vuejs.org/v2/guide/forms.html-->
<%= form_tag("/staff_schedules/create") do %>
 <div id='staff_schedule'>
   
<% @staffs.each do |staff| %>
  <ul>
   <label for="@staff_schedule"><%= staff.name  %></label>
    <% 17.times do |i| %>  
     <p><%= i+1  %></p>  
      <li>
        
         <input type="checkbox" name=<%= "staff_schedule[#{staff.id}][#{i}]" %> checked="checked" >
      </li>
    <% end %>
    <!--<li>-->
    <!--  <label for="@staff_schedule">看護師B</label>-->
    <!--   <input type="checkbox" name="staff_schedule" checked="checked" >-->
    <!--</li>-->
    <!--<li>-->
    <!--  <label for="@staff_schedule">看護師C</label>-->
    <!--  <input type="checkbox" name="staff_schedule" checked="checked" >-->
    <!--</li>-->
    <!--<li>-->
    <!--  <label for="@staff_schedule">看護師D</label>-->
    <!--   <input type="checkbox" name="staff_schedule" checked="checked" >-->
    <!--</li>-->
    <!--<li>-->
    <!--  <label for="@staff_schedule">看護師E</label>-->
    <!--   <input type="checkbox" name="staff_schedule" checked="checked" >-->
    <!--</li>-->
  </ul>
  <% end %>
    
  <!--<p>9:30-10:00</p>  -->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
    
  <!--<p>10:00-10:30</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>-->
  
  <!--<p>10:30-11:00</p>-->
  <!--  <ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p">11:00-11:30</p>-->
  <!--  <ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>11:30-12:00</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>13:30-14:00</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>14:00-14:30</p>-->
  <!--  <ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>14:30-15:00</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>15:00-15:30</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>15:30-16:00</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>16:00-16:30</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
  <!--<p>16:30-17:00</p>-->
  <!--<ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->

  <!--<p>17:00-17:30</p>-->
  <!--  <ul>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師A</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師B</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師C</label>-->
  <!--    <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師D</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <label for="@staff_schedule">看護師E</label>-->
  <!--     <input type="checkbox" name="staff_schedule" checked="checked" >-->
  <!--  </li>-->
  <!--</ul>  -->
  
</div>
　<div>
  <button type="submit">Submit form</button>
  </div>
<% end %>


